<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 {% load i18n %}
{% block title %}
{% endblock %}









{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/cufon-yui.js"></script>
<script type="text/javascript" src="/static/js/arial.js"></script>
<script type="text/javascript" src="/static/js/cuf_run.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/static/js/radius.js"></script>
{% endblock %}
<meta name="google-translate-customization" content="94194d0fd95957d1-499147ba9550bf87-gf0152bc5be798ec6-e"></meta>


</head>

<body>

  {% block midpart %}
  {% endblock %}

</body>
</html>
